<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Colleges</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Colleges Page!</p>
      <p>Here you can view a list of colleges in Kansas and the Greater Kansas City area. More reputable colleges and universities tend to have stricter admissions requirements like higher GPAs, and/or test scores. Some of them might require application essays. The more a student does well in school, the more likely that student will go to a more reputable college and get accepted. In-state public colleges tend to have higher acceptance rates than private colleges.</p>
    </div>
  </section>
  <!-- College Section -->
  <div class="list">
 
    <h1> List of 4-yr Colleges in Kansas and the Kansas City Area</h1>
	  
   <ul>
	<h2>Public Colleges</h2>
	<li>Kansas State University</li>
	<li>University of Kansas</li>
	<li>Fort Hays State University</li>
	<li>Pittsburg State University</li>
	<li>Washburn University</li>
	<li>Emporia State University</li>
	<li>Wichita State University</li>
	<li>Haskell Indian Nations University</li>
	<li>University of Missouri - Kansas City</li>
	   
	<h2>Private Colleges</h2>
	<li>Newman University</li>
	<li>Friends University</li>
	<li>Baker University</li>
	<li>MidAmerica Nazarene University</li>
	<li>Kansas Wesleyan University</li>
	<li>Sterling College</li>
	<li>Southwestern College</li>
	<li>Bethany College</li>
	<li>Hesston College</li>
	<li>McPherson College</li>
	<li>Benedictine College</li>
	<li>University of St. Mary</li>
	<li>Tabor College</li>
	<li>Ottawa University</li>
	<li>Central Christian College of Kansas</li>
	<li>Manhattan Christian College</li>
	<li>Bethel College</li>
	<li>Barclay College</li>
	<li>Grantham University</li>
	<li>Donnelly College</li>
	<li>Rockhurst College</li>
	<li>Avila University</li>
	<li>William Jewell College</li>
	<li>Park University</li>
	<li>Kansas City Art Institute</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">For more information about how these colleges are ranked</p>
    <div class="button"><a href="https://www.niche.com/colleges/search/best-colleges/s/kansas/">Niche</a> </div>
	<div class="button"><a href="https://www.universityreview.org/kansas-colleges/#:~:text=Kansas%20Colleges%20List%20%20%20%20Name%20,%20%20%2424%2C390%20%2016%20more%20rows%20">UniversityReview</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>

