<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Home</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <h3>Travis Truong</h3>
      <img src="../static/images/aboutme.jpg" alt="a picture of Travis" width="750" height="400" class="profile"> </div>
    <div class="column">
      <p>Hello! I am currently a freshman at Kansas State University majoring in Finance and Marketing hoping to analyze predictions of future college students, based on their GPA, test scores, and other factors. </p>
      <p>Many graphs and tables are avaliable on this website to help predict what college a student is attending, and major, based on their GPA, test scores, and overall interests. </p>
    </div>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="../static/images/stat.jpg" alt="a picture of a graph on a table" width="2000" class="cards"/></a>
      <h4><a href="#"><a href="/statistics">STATISTICS</a></a></h4>
      <p class="tag">GRAPHS and TABLES</p>
      <p class="text_column">Explore the stats of what colleges students are attending.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/college.jpg" alt="students hanging out on a college campus" width="400" height="200" class="cards"/></a>
		<h4><a href="#"><a href="/colleges">COLLEGES</a></a></h4>
      <p class="tag">LIST OF COLLEGES IN KANSAS AND IN THE KANSAS CITY AREA</p>
      <p class="text_column">Higher quality colleges tend to require a higher GPA and test scores.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/major.jpg" alt="people working on various projects" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/majors">MAJORS</a></a></h4>
      <p class="tag">LIST OF MAJORS</p>
      <p class="text_column">Students majoring in STEM-related majors and Engineering tend to have higher GPAS and test scores than students who are majoring in Liberal Arts or similar majors.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/interests.jpg" alt="a paper with coffee on a table" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/interests">INTERESTS</a></a></h4>
      <p class="tag">LIST OF INTERESTS</p>
      <p class="text_column">Students with certain interests will either choose a minor related to their interests, or major in it.</p>
    </div>
  </div>
  <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="../static/images/test.jpg" alt="a calculator on a textbook" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/testscores">TEST SCORES</a></h4>
      <p class="tag">ACT, SAT, and OTHER TESTS</p>
      <p class="text_column">Higher test scores equals more opportunities.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/analysis.jpg" alt="a person analyzing data" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/analysis">ANALYSIS</a></a></h4>
      <p class="tag">METHODOLOGY</p>
      <p class="text_column">Find out what methodology is being used to predict student trends.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/otherfactors.jpg" alt="a picture of a office" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/otherfactors">OTHER FACTORS</a></h4>
      <p class="tag">OTHER FACTORS NOT MENTIONED</p>
      <p class="text_column">There are certain factors that can't be always controlled by a student themselves.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="../static/images/instate.jpg" alt="kansas city skyline" width="400" height="200" class="cards"/></a>
      <h4><a href="#"><a href="/locations">LOCATIONS</a></h4>
      <p class="tag">IN-STATE OR OUT OF STATE</p>
      <p class="text_column">Some students attend colleges outside of the state where they graduated high school from.</p>
    </div>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
    <div class="button">EMAIL ME</div>
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
