<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Hobbies and Interests</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Interests Page!</p>
      <p>Here you can view a list of several interests and hobbies, but not limited to those interests and hobbies on the list below. Some hobbies and interests like graphic design and photography can turn into a career, if you're lucky enough and put in the effort into it.</p>
    </div>
  </section>
  <!-- Interest Section -->
  <div class="list">
 
    <h1> List of Hobbies and Interests (not limited to)</h1>
	  
   <ul>
	<li>Graphic Design</li>
	<li>Investing</li>
	<li>Photography</li>
	<li>Cooking</li>
	<li>Blogging</li>
	<li>Writing</li>
	<li>Reading</li>
	<li>Video Games</li>
	<li>Hiking</li>
	<li>Computer Programming</li>
	<li>Baking</li>
	<li>Board Games</li>
	<li>Business</li>
	<li>Camping</li>
	<li>Chess</li>
	<li>Education</li>
	<li>Gardening</li>
	<li>Fitness</li>
	<li>Fashion</li>
	<li>Leadership</li>
	<li>Pop Culture</li>
	<li>Research</li>
	<li>Shopping</li>
	<li>Science</li>
	<li>Social Media</li>
	<li>Sports</li>
	<li>Travelling</li>
	<li>Technology</li>
	<li>Television</li>
	<li>Volunteering</li>
	<li>Fishing</li>
	<li>Sewing</li>
	<li>Drawing</li>
	<li>Origami</li>
	<li>Metal Working</li>
	<li>Pottery</li>
	<li>Home Improvement</li>
	<li>Welding</li>
	<li>Makeup</li>
	<li>Cars</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">For more information about how these interests and hobbies apply to your career, and what interests can help your career</p>
    <div class="button"><a href="https://www.livecareer.com/resources/resumes/how-to/write/10-examples-of-good-interests-to-put-on-a-resume">LiveCareer</a> </div>
	<div class="button"><a href="https://www.lifehack.org/329326/20-hobbies-that-can-make-you-better-boss-work">LifeHack</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>