<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Locations</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Locations Page!</p>
      <p>Here you can view a list of several effects of attending college in-state, or out of state. Out of State colleges tend to be more expensive than in-state colleges (especially public universities). Some private universities charge the same amount of tuition, regardless of residency status.</p>
    </div>
  </section>
  <!-- Locations Section -->
  <div class="list">
 
    <h1> In-State vs Out of State Colleges</h1>
	<h2>In-State Colleges</h2>
   <ul>
	<li>Lower Tuition Costs</li>
	<li>Exclusive Scholarship Opportunities</li>
	<li>Closer to Campus from Home</li>
	<li>Lower Expenses</li>
	<li>More Knowledge of what a College has to Offer</li>
<h2>Out of State Colleges</h2>
	<li>Higher Tuition Costs</li>
	<li>Farther Away From Home</li>
	<li>Higher Expenses</li>
	<li>Less Knowledge of What a College has to Offer</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">For more information about in-state colleges vs. out of state colleges</p>
    <div class="button"><a href="https://www.nationwide.com/lc/resources/personal-finance/articles/in-state-out-state-tuition">Nationwide</a> </div>
	<div class="button"><a href="https://www.niche.com/blog/attending-college-out-of-state/">Niche</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
