<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - List of College Majors</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Majors Page!</p>
      <p>Here you can view a list of majors by career field. Certain majors like engineering and STEM-related majors will require more work than other majors. It is important to consider what you are interested in, what career pathway you want to go to, how much income you want to make, and whether you want to pursue furthur education after college. Also, don't rely on your mentors and parents only when considering a major. Note: The majors came directly from the Kansas State University and the University of Kansas websites.</p>
    </div>
  </section>
  <!-- Majors Section -->
  <div class="list">
 
    <h1> List of Majors by Career Field</h1>
	  
   <ul>
	<h2>Agriculture &amp; Food Science</h2>
	<li>Agribusiness</li>
	<li>Agricultural Economics</li>
	<li>Agricultural Education</li>
	<li>Agricultural Communications and Journalism</li>
	<li>Agricultural Technology Management</li>
	<li>Agronomy</li>
	<li>Animal Science and Industry</li>
	<li>Horticulture</li>
	<li>Park Management and Conservation</li>
	<li>Wildlife and Outdoor Enterprise Management</li>
	<li>Bakery Science and Management</li>
	<li>Feed Science and Management</li>
	<li>Milling Science and Management</li>
	<li>Food Science and Industry</li>
	   
<h2>Architecture, Design &amp; Planning</h2> 
	<li>Industrial Design</li>
	<li>Interior Architecture</li>
	<li>Landscape Architecture</li>
	<li>Regional and Community Planning</li>
	<li>Interior Design</li>
	   
	<h2>Engineering</h2> 
	<li>Architectural Engineering</li>
	<li>Engineering (general)</li>
	<li>Biological Systems Engineering</li>
	<li>Biomedical Engineering</li>
	<li>Chemical Engineering</li>
	<li>Civil Engineering</li>
	<li>Construction Science and Management</li>
	<li>Electrical Engineering</li>
	<li>Environmental Engineering</li>
	<li>Industrial Engineering</li>
	<li>Mechanical Engineering</li>
	<li>Computer Engineering</li>
	<li>Computer Science</li>
	   
    <h2>Arts &amp; Culture</h2>
	<li>Dance</li>
	<li>Film &amp; Media Studies</li>
	<li>Theatre/Theatre Design</li>
	<li>Visual Art/Design</li>
	<li>Music (general)</li>
	<li>Music Therapy</li>
	<li>Music Performance</li>
	<li>Applied Music</li>
	<li>Music Education</li>
	   
	<h2>Liberal Arts &amp; Sciences</h2>
	<li>American Ethnic Studies</li>
	<li>Anthropology</li>
	<li>Applied Behavioral Science</li>
	<li>Astronomy</li>
	<li>Atmospheric Science</li>
<li>Biochemistry</li>
	<li>Biotechnology</li>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Communication Studies</li>
	<li>Economics</li>
	<li>English</li>
	<li>Environmental Science</li>
	<li>Fisheries, Wildlife, Conservation, and Environmental Biology</li>
	<li>Geographic Information Science &amp; Technology</li>
	<li>Geography</li>
	<li>Geology</li>
	<li>Gender, Women, and Sexuality Studies</li>
	<li>General Physics</li>
	<li>Health Science</li>
<li>History</li>
	<li>Humanities</li>
	<li>Intergrated Computer Science</li>
	<li>Law &amp; Society</li>
<li>Life Science</li>
	<li>Linguistics</li>
<li>Mass Communications</li>
	<li>Mathematics</li>
	<li>Medical Laboratory Science</li>
	<li>Microbiology</li>
	<li>Modern Languages</li>
	<li>Philosophy</li>
	<li>Physical Science</li>
	<li>Physics</li>
	<li>Political Science</li>
	<li>Public Administration</li>
    <li>Psychology</li>
    <li>Religious Studies</li>
<li>Social Work</li>
	<li>Social Science</li>
	<li>Sociology</li>
	<li>Statistics and Data Science</li>
	<li>Women's Studies</li>
	   
	<h2>Business Administration &amp; Management</h2>
	<li>Accounting</li>
	<li>Business Administration</li>
	<li>Business Analytics</li>
<li>Entrepreneurship</li>
	<li>Finance</li>
	<li>Information Systems</li>
	<li>Information Technology</li>
<li>Management</li>
	<li>Management Information Systems (MIS)</li>
	<li>Marketing</li>
	<li>Professional Strategic Selling</li>
	<li>Supply Chain Management</li>
	   
	<h2>Education</h2>
	<li>Elementary Education</li>
	<li>Secondary Education</li>
	<li>Educational Studies</li>
	<li>Early Childhood Education</li>
    
	<h2>Health and Human Services</h2>
	<li>Exercise Science</li>
	<li>Community Health</li>
	<li>Fashion Studies</li>
	<li>Athletic Training and Rehabilitation Sciences</li>
	<li>Dietetics</li>
	<li>Communication Sciences and Disorders</li>
	<li>Human Development and Family Science</li>
	<li>Hospitality Management</li>
	<li>Intergrative Human Sciences</li>
	<li>Nutritional Sciences</li>
	<li>Nutrition and Health</li>
	<li>Kinesiology</li>
	<li>Personal Financial Planning</li>
	<li>Public Health</li>
	<li>Sports Nutrition</li>
	<li>Nursing</li>
	<li>Pre-Med</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">For more information about majors</p>
    <div class="button"><a href="https://catalog.k-state.edu/content.php?catoid=47&navoid=8831">KSU Majors</a> </div>
	<div class="button"><a href="https://career.ku.edu/majors">KU Majors</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
