<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Other Factors that affect College Choices</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Other Factors Page!</p>
      <p>Here you can view a list of several factors that might affect a student's choice where to go to college, or what to major in. Some parents are pickier than others. Some parents will even refuse to pay for college, if their child(ren) don't major in a certain field. Some students will attend a certain college for financial reasons.</p>
    </div>
  </section>
  <!-- Other Factors Section -->
  <div class="list">
 
    <h1> Other Factors that Might Take into Consideration</h1>
	  
   <ul>
	<li>Parents</li>
	<li>Financial Aid/Scholarships</li>
	<li>Proxmity to Home</li>
	<li>Family</li>
	<li>Time Spent Working</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">For more information about how these factors can affect college decisions</p>
    <div class="button"><a href="https://nces.ed.gov/pubs2019/2019119.pdf">NCES</a> </div>
	<div class="button"><a href="https://www.moneycrashers.com/factors-choose-college/">MoneyCrashers</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
