<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Statistics about Students' College and Major Choices</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Statistics Page!</p>
      <p>Here you can view tables of what a student is currently majoring in, the college a student is currently attending, their GPA, and even ACT/SAT test scores. Other factors like household income, preferences to attend college in-state or out-of-state, and  </p>
    </div>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="../static/images/stat.jpg" alt="" width="2000" class="cards"/></a>
      <h4>STATISTICS</h4>
      <p class="tag">IN-STATE OR OUT OF STATE</p>
      <p class="text_column">Some students attend colleges outside of the state where they graduated high school from.</p>
    </div>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
    <div class="button">EMAIL ME </div>
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>

