<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollegeInsights - Test Scores</title>
<link href="../static/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo"><a href="/">CollegeInsights</a></h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <p>Welcome to the Test Scores Page!</p>
      <p>Here you can view of how decent ACT/SAT scores should be in order to go to certain colleges. Many reputable colleges will only admit students with high ACT or SAT test scores. Many colleges are test-optional meaning that a student does not need to take the ACT, nor the SAT to get admitted to a certain college. Having ACT/SAT scores can help you qualify for certain scholarships when entering colleges as a student fresh out from high school (age <21). </p>
    </div>
  </section>
  <!-- Interest Section -->
  <div class="list">
 
    <h1>ACT/SAT Score Ranges</h1>
	  
   <ul>
	<li>ACT Score of 1-19 (SAT Score of <1010): Below Average (Poor)</li>
	<li>ACT Score of 20-25 (SAT Score of 1020 - 1230): Average (Good)</li>
	<li>ACT Score of 26-29 (SAT Score of 1240 - 1380): Above Average (Competitive)</li>
	<li>ACT Score of 30-35 (SAT Score of 1390 - 1590): Excellent (Best)</li>
	<li>ACT Score of 36 (SAT Score of 1600): Perfect (Maximum)</li>
   </ul>
  </div>
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">To learn more about how these college preperation tests work</p>
    <div class="button"><a href="https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html">ACT</a> </div>
	<div class="button"><a href="https://www.studypoint.com/ed/sat-scoring/">SAT</a> </div>  
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>CollegeInsights</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>